:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

a {
  color: var(--mainDark);
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Nerko", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  margin-top: 3rem;
}

nav {
  background: var(--mainBlue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 5rem;
  box-shadow: 3px 5px 7px salmon;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav a {
  color: var(--mainWhite);
}

.cart {
  background: rgba(254, 252, 252, 0.7);
  color: var(--mainBlue);
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  display: flex;
  place-items: center;
}

.cart:hover {
  color: white;
  border: 1px solid rgba(254, 252, 252, 0.7);
  background: var(--mainBlue);
}

.header {
  color: var(--mainDark);
  text-align: center;
  font-weight: bolder;
}
.header p {
  color: var(--lightBlue);
}

/* =========================================
 single phone
=============================================*/
.center-phones {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .center-phones {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 500px) {
  .center-phones {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.image-container a {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image-container button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 3px;
  margin-right: 0;
  font-size: 1em;
  background: var(--lightBlue);
  color: var(--mainWhite);
  width: 3.2rem;
  height: 2rem;
  transform: translate(100%);
}

.phone-container:hover button {
  transform: translate(0%);
}

.phone-container:hover img {
  transform: scale(1.04);
}
.phone-container {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  width: 18rem;
  border-radius: 5px;
  height: 25rem;
}

.phone-container:hover {
  border: 1px solid rgba(106, 90, 205, 0.5);
  box-shadow: -5px -2px -5px 0 rgba(106, 90, 205, 0.8);
}

.image-footer {
  font-family: "Nerko", cursive;
  color: var(--mainBlue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

/* ============================================
DETAILS
=============================================== */

.details-container {
  margin-top: 3rem;
  text-align: center;
  font-family: "Nkero", cursive;
  width: 90vw;
}

.details-container h1 {
  font-size: 2rem;
}

.details {
  display: grid;
}

.detail-image {
  width: 20rem;
  height: 25rem;
}

.detail-image img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.detail-image,
.detail-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .details-container h1 {
    font-size: 3.5rem;
  }
  .details {
    grid-template-columns: repeat(2, 1fr);
  }
}
