/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}
/*
=============== 
Global Styles
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr-grey-9);
  font-size: 0.875rem;
  display: grid;
  justify-content: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
/* p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
} */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

body {
  overflow-x: hidden;
  width: 100vw;
}

/* ============================================================
NavBar
=============================================================*/

.navbar {
  width: 100vw;
  border-bottom: 4px solid rgb(177, 62, 62);
  padding: 1rem 2rem;
}

.nav-center {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  padding-left: 6rem;
}

.logo {
  width: 10rem;
}

main {
  display: grid;
  place-items: center;
}

/*=============================================================== 
About Page
================================================================*/

.section {
  place-items: center;
  display: grid;
  width: 90vw;
  margin-top: 2rem;
}

.section h1 {
  font-size: 2.5rem;
}

.btn {
  border: 1px solid rgba(45, 43, 43, 0.4);
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
}
.btn-primary {
  background: rgb(221, 61, 3);
  color: wheat;
}

.btn-primary:hover {
  background: orange;
  color: white;
}

.error-container {
  text-align: center;
}

.error-container h1 {
  font-size: 2rem;
}

/*=========================================================== 
      Form 
===========================================================*/
.search-form {
  border: 1px solid rgba(113, 110, 110, 0.3);
  border-radius: 3px;
  width: 69vw;
  height: 7rem;
  display: grid;
  place-items: center;
  box-shadow: 3px 5px 8px rgba(113, 110, 110, 0.7);
  margin-bottom: 3rem;
}

.search-form div {
  width: 80%;
}

input,
input:focus {
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(12, 12, 12, 0.2);
  outline: none;
  margin-top: 0.5rem;
}

/* ==============================================================
LOADER
================================================================= */

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 10rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* ===================================================
COCKTAIL SECTION
===================================================== */
.cock {
  margin-top: 0.1rem;
  border: 1px solid rgb(144, 138, 138);
  padding: 0.5rem;
  background: rgba(133, 252, 232, 0.752);
  box-shadow: 3px 3px 3px black;
}

.cock-image {
  height: 11rem;
  width: 100%;
  object-fit: cover;
}

.cock:hover {
  color: gray;
}

.cock-image:hover {
  transform: scale(1.09);
}
.cocktail-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.details {
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  background: red;
  color: white;
}

.cocktail-section p {
  margin-top: -0.4rem;
}
/* =========================================================
SINGLE COCK 
============================================================ */
.single-cocktail {
  margin-top: 2rem;
}
.singeCock-img {
  width: 18em;
  height: 20em;
  object-fit: cover;
}
.drink-info {
  text-align: left;
}
